.inputlink--main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 300px;
    height: 200px;

    @media (max-width:350px) {
        width: 100%;
        padding: 0 10px;
    }
}

.inputlink--label{
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 5px;
    color: $text-color;
    text-shadow: 0 0 10px $text-color-deg;
    text-transform: uppercase;
}

.inputlink--input{
    outline: none;
    border: none;
    padding: 10px 10px;
    width: 100%;
    font-size: 20px;
    border-radius: 20px;

    &::placeholder{
        text-align: center;
        font-style: italic;
    }
}

.inputlink--button{
    outline: none;
    border: none;
    font-weight: bolder;
    background-color: $principal-color;
    color: $text-color;
    box-shadow: 0 5px 5px inset $light-principal-color, 0 5px 5px $dark-principal-color;
    margin-top: 5px;
    border-radius: 20px;
    width: 80%;
    height: 30px;

    &:active{
        box-shadow: 0 5px 10px inset $light-principal-color, 0 0px 5px $dark-principal-color;
    }
}