.header--main {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5%;
    height: 60px;
    background-color: $principal-color;
    box-shadow:0 -1px 10px inset $light-principal-color;
    z-index: 5;

    @media (max-width:400px) {
        flex-direction: column;
        height: 150px;
        padding-bottom: 10px;
        justify-content: center;
    }
}

.header--nav {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 1px 3px 10px $dark-principal-color, 1px 1px 7px inset $light-principal-color;

    @media (max-width:400px) {
        width: 90%;
    }

    ul{
        display: flex;
        flex-direction: row;
        gap: 25px;

        @media (max-width:400px) {
            flex-direction: row;
            gap: 5px;
        }
    }
}

.header--nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    color: $text-color;

    &:hover{
        text-shadow: 0 0 10px $text-color-deg;
        font-weight: bolder;
    }
}

.header--link{
    color: $text-color;
    text-decoration: none;
}

.header--title{
    font-weight: bolder;
    font-size: 20px;
    margin: 0px;
    color: $text-color;
    text-transform: uppercase;
    text-shadow: -2px 2px 5px $text-color-deg;
    text-decoration: none;

    &:hover{
        text-shadow: 0 0 10px $text-color-deg;
        font-weight: bolder;
    }
}

.header--title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.header--pipo-image{
    width: 50px;
    margin: 0px;
}