@import './configStyles/globals.scss';
@import '../components/Header/style.scss';
@import '../components//LandPage/style.scss';
@import '../components/InputLink/style.scss';

$principal-color: #5CAD24;
$secondary-color: #0E2DFA;
$light-principal-color: #94FA4D;
$terciary-color: #FA6934;
$dark-terciary-color: #AD4F2D;
